
@{
    ViewData["Title"] = "Har du et spørgsmål?";
}

<h1>Har du spørgsmål?</h1>
<hr />
Kontakt:
<br />
<br /><b>Pædagogisk konsulent</b>
<br />Mette Lyngsø Meidahl
<br />E-mail: <a href="mailto:mlm@tec.dk">mlm@tec.dk</a>
<br />Tlf: 25243524
<br />
<br /><b>Underviser på Data</b>
<br />John Ellehammer
<br />E-mail: <a href="mailto:joel@tec.dk">joel@tec.dk</a>
<br />Tlf: 25453321


