<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DigitalSustainabilityLaboratory</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DigitalSustainabilityLaboratory.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark text-white box-shadow mb-3" style="background-color:#004B46;color:white;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Forside</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <div class="TitelArea">
            <h1>Det digitale bæredygtighedslaboratorium</h1>
            <h2>Digitale løsning</h2>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3" style="margin-top:50px;">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:#FA5050;">
        <div class="container" style="color:white;text-align:right;">
            &copy; 2023 - Det digitale bæredygtighedslaboratorium - <a href="mailto:mlm@tec.dk">mlm@tec.dk</a> tlf 25243524
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
